doctype html 
html 
    head 
        title #{title}

    body 
        h1 Uploaded Files
        ul 
            li 
                a(href="/uploads/1714898299362-303053078-new_resume_001.docx" target="_blank") 
                    | Short Explanation of Cyber Security Concept