footer.footer 
    .box-item.d-flex.justify-content-between
        .footer-info 
            p N21DCCN032 - Đào Phan Quốc Hoài 
            p N21DCCN076 - Lê Đức Thái 
            p N21DCCN017 - Hoàng Linh Điệp
        .footer-slogan
            p Khám Phá Sự Sáng Tạo và Đam Mê
            p Hãy Cùng Nhau Xây Dựng Tương Lai Tươi Sáng
        .footer-logo 
            p Học viện Công Nghệ Bưu Chính Viễn Thông cơ sở Hồ Chí Minh 
            p  Cơ sở Quận 1: 11 Nguyễn Đình Chiểu, Phường Đa Kao, Quận 1, TP. Hồ Chí Minh
            p Cơ sở Thủ Đức: 97 Man Thiện, Phường Hiệp Phú, Thủ Đức, TP. Hồ Chí Minh