mixin filterStatus(filterStatus)
    each item in filterStatus 
        button(
            class=`btn btn-sm btn-outline-success me-1 ${item.class}` 
            status= item.status
        ) #{item.name}