doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/admin/css/tongquanct.css")
        link(rel='stylesheet', href='https://www.w3schools.com/w3css/4/w3.css')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
        title Tổng quan
    body
        .nav-list
            a.navbar-item.head(href='') IT COMPANY
            a.navbar-item.nav-button(href='tongquanct.html') Tổng quan
            a.navbar-item.nav-button(href='thongtinct.html') Thông tin công ty
            a.navbar-item.nav-button(href='#') Quản lý việc làm
            a.navbar-item.nav-button(href='#') Quản lý CV
        .content-view
            div.nav-header
                button.item.trangchu Trang chủ
                button.item.dangxuat Đăng xuất
            div.nav-content
                div.title 
                    div.name Tổng quan
                div.body 
                    div.Job Job 
                        div.item-job Số lượng job 
                        div.item-job Job đang bật 
                        div.item-job Job đang tắt
                    div.CV CV 
                        div.item-cv Số lượng CV 
                        div.item-cv CV chưa đọc
                        div.item-cv CV đã đọc
                    div.Info Thông tin công ty 
                        div.item-tt Tên công ty 
                        div.item-tt Email 
                        div.item-tt Số điện thoại
                        div.item-tt Số nhân viên

