header.header 
    .container-fluid
        .row.align-items-center
            .col-3 
                .inner-logo 
                    a(href=`/${prefixAdmin}/dashboard/${User.congTyId}`) COMPANY 
            .col-9 
                div(class="text-right" style="text-align: right;")
                    a(
                        href=`/`
                        class="btn btn-primary btn-sm me-2"
                    ) Trang chủ
                    a(
                        href=`/user/logout`
                        class="btn btn-danger btn-sm"
                    ) Đăng xuất 
    